<div id="<%= dom_id location %>">
  <p>
    <strong>City:</strong>
    <%= location.city %>
  </p>
  <p>
    <strong>State:</strong>
    <%= location.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= location.zipcode %>
  </p>
  <p>
    <strong>User_id:</strong>
    <%= location.user_id %>
  </p>

  

</div>


